<h1>Stupid coaching</h1>
<%= @question %>
<br>
<p>- you</p>
<br>
<strong><%= @hello_answer %></strong>
<strong><%= @time_answer %></strong>
<strong><%= @work_answer %></strong>
<strong><%= @else_answer %></strong>
<br>
<p>- your coach</p>
<br>
<br>
<%= link_to "Ask a new question", ask_path %>
